[Unit]
Description=LED Matrix
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/PI_USERNAME/rpi-rgb-led-matrix/bindings/python/samples
ExecStart=sudo python3 main.py

[Install]
WantedBy=multi-user.target
